@font-face {
    font-family: Laviossa;
    src: url('/font/Laviossa-Medium.otf');
}
@font-face {
    font-family: sspReguler;
    src: url('/font/SourceSansPro-Regular.otf');
}
@font-face {
    font-family: sspLight;
    src: url('/font/SourceSansPro-Light.otf');
}
@font-face {
    font-family: sspSmBold;
    src: url('/font/SourceSansPro-Semibold.otf');
}
@font-face {
    font-family: sspBold;
    src: url('/font/SourceSansPro-Bold.otf');
}
@font-face {
    font-family: sspBlack;
    src: url('/font/SourceSansPro-Black.otf');
}
* {
    font-family: sspReguler;
}
.lav {
    font-family: Laviossa;
}
.ssp {
    font-family: sspReguler;
}
.ssp-light {
    font-family: sspLight;
}
.ssp-sm-bold {
    font-family: sspSmBold;
}
.ssp-bold {
    font-family: sspBold;
}
.ssp-black {
    font-family: sspBlack;
}
.fs-24 {
    font-size: 24px;
}
.text-light {
    font-weight: 400;
}
.lh-normal {
    line-height: 26px;
}
.text-primary {
    color: #BEA06A !important;
}
.navbar {
    z-index: 999;
}
.navbar.navbar-light {
    background-color: #fff !important;
    height: 170px !important;
}
.navbar.navbar-dark.bg-dark {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.42) 53.3%, rgba(0, 0, 0, 0.32) 76.69%, rgba(0, 0, 0, 0.00) 97.65%) !important;
    min-height: 170px !important;
}
.nav-link{
    padding-left: 0px !important;
    margin-right: 10px;
    padding-right: 0px !important;
    margin-left: 15px;
}
.nav-link.active {
    color: #BDA06A !important;
    border-bottom: 1.5px solid #BEA06A;
}
.navbar .line{
    height: 1.5px;
    margin-bottom:15px;
    margin-top:15px;
    width: 100%;
    background-color: #BDA06A;
}
.w-full {
    width: 100%;
}
.btn-primary {
    color: #fff;
    background-color: #BDA06A;
    border-color: #BDA06A;
}
.btn-primary:hover,.btn-primary:active {
    color: #fff;
    background-color: #BDA06A;
    border-color: #BDA06A;
}
.btn-check:focus+.btn-primary, .btn-primary:focus {
    color: #fff;
    background-color: #BDA06A;
    border-color: #BDA06A;
    box-shadow: 0 0 0 0.25rem rgb(239 203 148 / 50%);
}
.img-logo{
    display: inline-block;
    border-radius: 1000px;
    text-align: center;
    width: 27px;
    height: 27px;
    background-color: #BDA06A;
    margin-right: 10px;
}
.header-section{
    min-height: 750px;
    background-color: #555;
    background-size: cover;
    background-position: center;
    padding-top: 100px;
    position: relative;
}

.header-section .toBottom{
    cursor: pointer;
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
}

.navbar-dark .navbar-nav .nav-link {
    color: #eee !important;
    border-color: #eee;
}
.header-section .title1{
    color: #FFF;
    text-shadow: 0px 1px 4px #FFF;
    font-family: Laviossa;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 15px;
}



.header-section .title2 {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    font-family: sspReguler;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 3px;
    margin-bottom: 40px;
}
.header-section .btn-primary.btn-hero {
    width: 230px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #BDA06A;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.header-section .btn-secondary.btn-hero {
    width: 230px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.22);
}

.m-section {
    padding-top: 50px;
    padding-bottom: 40px;
}
.m-section-2 {
    padding-top: 60px;
    padding-bottom: 60px;
}

.m-section-2 .title{
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 20.8px */
    letter-spacing: 0.8px;
    margin-bottom: 20px;
}

.m-section-2 .subtitle {
    color: #000;
    font-family: Laviossa;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 46.8px */
    letter-spacing: 1.8px;
    margin-bottom: 30px;
}

.m-section-2 .subtitle span{
    color: #BDA06A;
    font-family: Laviossa;
}

.h-full {
    height: 100%;
}

.center-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
}

.m-section-2 .btn.btn-primary{
    width: 230px;
    display: inline-flex;
    height: 50px;
    align-items: center;
    justify-content: center;
}

.m-section .sub-title {
    margin-bottom: 10px;
    color: #000;
font-family: sspReguler;
font-size: 16px;
font-style: italic;
font-weight: 300;
line-height: normal;
letter-spacing: 0.8px;
}
.fw-500 {
    font-weight: 500;
}
.mb-35{
    margin-bottom: 35px;
}
.mb-70 {
    margin-bottom: 70px;
}

.m-section .title, .m-section .title * {
    color: #000;
    font-family: Laviossa;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.2px;
}

.testimoni {
    font-size: 18px;
    font-weight: 400;
    line-height: 130%; /* 23.4px */
letter-spacing: 0.9px;
}

.text-16 {
    font-size: 16px;
}

.footer-title {
    margin-top: 50px;
}

.footer-title a{
    color: #000;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.7px;
    text-decoration-line: underline;
}

.footer-title a span{
    color: #BDA06A;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.7px;
    text-decoration-line: underline;
}

.header-3-photo-services {
    position: relative;
    min-height: 300px;
}

.service-content {
    margin-top: 65px;
}

.header-3-photo-services .photo-1 {
    width: 225px;
    position: relative;
}

.header-3-photo-services .photo-3 {
    width: 220px;
    position: relative;
    margin-left: 150px;
    margin-top: -230px;
}

.header-3-photo-services .photo-2 {
    width: 180px;
    margin-left: 36px;
    margin-top: -20px;
    position: relative;
}

.header-3-photo-services .photo-1 img{
    width: 225px;
}

.header-3-photo-services .photo-2 img{
    width: 180px;
}

.header-3-photo-services .photo-3 img{
    width: 220px;
}

.header-3-photo-services .photo-1 .line {
    position: absolute;
    top: -17px;
    left: 150px;
}

.header-3-photo-services .photo-1 .text{
    position: absolute;
    top: 8px;
    left: 253px;
    text-wrap: nowrap;
}

.header-3-photo-services .photo-2 .line {
    position: absolute;
    bottom: -10px;
    left: 100px;
    z-index: 9999;
}

.header-3-photo-services .photo-2 .text{
    position: absolute;
    bottom :10px;
    left: 195px;
    text-wrap: nowrap;
}

.header-3-photo-services .photo-3 .line {
    position: absolute;
    top: 40px;
    right: -50px;
    z-index: 9999;
}

.header-3-photo-services .photo-3 .text{
    position: absolute;
    top :60px;
    left: 230px;
    text-wrap: nowrap;
}

#accordion .card {
    border: none;
    margin-bottom: 5px;
}

#accordion .card .card-header {
    background-color: #ffffff00;
    border-color: #000;
}

#accordion .card button.btn {
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: left;
    color: #000;
    text-decoration: none;
    font-family: Laviossa;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.8px;
}

#accordion .card .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13,110,253,0);
}

#accordion .card .collapsed .arrow {
    display: inline-block;
    transform: rotate(-90deg);
}

#accordion .card .arrow {
    transition: .3s;
    display: inline-block;
    transform: rotate(-0deg);
}

.text-2 {
    color: #000;
    text-align: justify;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.8px;
}

.card-destination {
    cursor: pointer;
    border-radius: 115px;
    border: 2px solid #838383;
    box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.25);
    max-width: 253px;
    height: 352px;
    flex-shrink: 0;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-align: center;
}

.card-destination .title {
    color: #FFF;
    font-family: Laviossa;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 20.8px */
    letter-spacing: 0.8px;
    margin-bottom: -42px;
    transition: .3s;
}

.card-destination:hover .title {
    margin-bottom: 5px;
}

.card-destination .sub-title {
    color: #FFF;
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.65px;
    margin-bottom: 50px;
    opacity: 1;
    transition: .3s;
}

.card-destination:hover .sub-title{
    opacity: 0;
}

.card-destination:hover .btn {
    transition: .3s;
    opacity: 1;
}

.card-destination .btn {
    margin-top: 10px;
    transition: .1s;
    opacity: 0;
}

.images-doc {
    display: flex;
    flex-wrap: wrap;
}

.images-doc > div img{
    max-height: 250px;
    max-width: 100%;
}

.images-doc > div {
    margin-bottom: 30px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.images-doc .content {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.60) 100%);
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.images-doc .content h5{
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 20.8px */
    letter-spacing: 0.8px;
    margin-bottom: 6px;
}

.images-doc .content div {
color: #FFF;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 130%; /* 18.2px */
letter-spacing: 0.7px;
margin-bottom: 16px;
}

.DocImg {
    margin-bottom: -30px;
}

.owl-blog .item {
    padding: 17px;
}

.card-blog {
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.20);
    padding: 12px;
}

.card-blog img {
    margin-bottom: 10px;
}

.card-blog .title-blog {
    color: #000;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.fs-14 {
    font-size: 14px;
}
.fs-16 {
    font-size: 16px;
}

.prev-blog,
.next-blog {
    cursor: pointer;
}



.card-blog .text-blog {
    color: #696969;
    text-align: justify;
    font-size: 14px;
    font-style: normal;
    font-family: sspLight;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 15px;
}

.name-testi {
    color: #000;
text-align: center;
font-family: Source Sans Pro;
font-size: 16px;
font-style: italic;
font-weight: 600;
line-height: 130%; /* 20.8px */
letter-spacing: 0.8px;
}

.img-testi {
    width: 40px !important;
    height: 40px !important;
    border-radius: 20px;
    margin-right: 15px;
}

.owl-theme .owl-nav [class*=owl-]:hover {
    background: #86979100;
    color: #FFF;
    text-decoration: none;
}

.ig {
    position: relative;
    overflow: hidden;
    border-radius: 25px;
}

.ig .feed {
    position: absolute;
    width: 45px;
    top: 25px;
    transition: .3s;
    left: 25px;
}

.ig .profile  {
    position: absolute;
    bottom: 0;
    transition: .3s;
    padding: 25px;
    left: 0;
    display: flex;
    width: 100%;
    align-items: center;
}
.ig .profile img {
    width: 35px;
    margin-right: 10px;
    height: 35px;
    border-radius: 25px;
}

.ig .title-ig {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 18.2px */
    letter-spacing: 0.7px;
}

.ig:hover > .feed, .ig:hover .profile {
   opacity: 0;
}

.ig .sub {
        color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 15.6px */
    letter-spacing: 0.6px;
}

.ig .onActive {
    position: absolute;
    transition: .3s;
    opacity: 0;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #00000088;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ig:hover .onActive {
    opacity: 1;
}

.footer {
    padding-top: 60px;
    background-size: cover;
    background-position: center;
}

.title-logo {
    color: #FFF;
    font-family: Laviossa;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 46.8px */
    letter-spacing: 1.8px;
    margin-bottom: 10px;
}

.info-footer {
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 23.4px */
    letter-spacing: 0.9px;
    margin-bottom: 35px;
    max-width: 404px;
}

.footer .address {
    color: #FFF;
    max-width: 404px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 23.4px */
    letter-spacing: 0.9px;
    margin-bottom: 15px;
}

.title-link-footer {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 26px */
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.footer .link {
    color: #FFF;
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 20.8px */
    letter-spacing: 0.8px;
    text-decoration: none;
}



